<img *ngIf="base64image == null" alt="img" [src]="'data:image/jpeg;base64,' + modalidade.foto64"/>
<img *ngIf="base64image != null" alt="img" [src]="base64image"/>

<ion-fab (click)="getImage()" top right>
      <button color="fab" class="fabstyle" ion-fab><ion-icon name="camera"></ion-icon></button>
</ion-fab>

<ion-item style="margin-top: 5px;">
  <ion-label floating> Descrição da modalidade</ion-label>
  <ion-input name="titulo" placeholder="Descrição da modalidade" [(ngModel)]="modalidade.informacoes" type="text"></ion-input>
</ion-item>

<ion-item style="margin-top: 5px; margin-bottom: 15px">
  <ion-label floating> Horário</ion-label>
  <ion-input name="titulo" placeholder="Horário" [(ngModel)]="modalidade.horario" type="text"></ion-input>
</ion-item>

<button ion-button color="secondary"  style="margin: auto; display:block;" (click)="editmodalidade()" outline>SALVAR</button>
<br>

