page-splash {
    .corpo{
        background: #0b6641;
    }

    .imgsplash{
        margin: auto;
        display: block;
        height: 200px;
        width: auto;
        margin-top: 50%;
    }
}
