<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title style="text-align: center;"><h3>NUDAL</h3></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose style="margin: 0px 0px 0px 0;" ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <p *ngIf="p.label != ''" style="color: #696969; margin-bottom: 5px; font-size: 80%"> {{p.label}}</p>
          <p style="color: #696969; font-weight: bold;"><ion-icon style="color: #696969;" [name]="p.icon" item-left></ion-icon> {{p.title}}</p>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>